@import "../../colors";

.room-list {
    .svg-align {
        text-align: center;
    }

    .svg-align-container {
        height: 50px;
        width: 20px;
        position: relative;

        .svg-align-center {
            width: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }

    .message {
        width: 60ch;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
