########################################################################################################################
#                                                                                                                      #
#                                                   /!\ ATTENTION /!\                                                  #
#                                                                                                                      #
#                       Toutes les variables préfixées par `REACT_APP_` seront envoyées au client                       #
#              N'ajoutez donc pas de données trop sensibles, comme des mots de passe ou des token privés               #
#                                                                                                                      #
########################################################################################################################

# API utilisée
REACT_APP_API_ADDRESS=localhost
REACT_APP_API_PORT=

# API REST utilisée
REACT_APP_REST_API_PROTOCOL=https
REACT_APP_REST_API_ENDPOINT_PREFIX=/api/v1/

# API WebSocket utilisée
REACT_APP_WS_API_PROTOCOL=wss
REACT_APP_WS_API_ENDPOINT_PREFIX=/api/v1/

# OAuth
REACT_APP_OAUTH_ACCESS_TOKEN_URI=http://[...]/oauth/token
REACT_APP_OAUTH_AUTHORIZATION_URI=http://[...]/oauth/authorize
REACT_APP_OAUTH_SCOPE=...
REACT_APP_OAUTH_CLIENT_ID=...
REACT_APP_OAUTH_CLIENT_SECRET=...
