.personal-infos {
    .profile-picture-parent {
        // padding: 0;

        .profilePicture {
            width: 40px;
        }
    }

    div {
        &#video-publisher {
            video {
                width: 100%;
                height: auto;
            }
        }
    }
}
