@import "../../colors";

.message-list {
    .svg-align {
        text-align: center;
    }

    .svg-align-container {
        height: 40px;
        width: 30px;
        position: relative;

        .svg-align-center {
            width: 30px;
            position: absolute;
            top: 50%;
            left: 25%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }

    p.message {
        word-break: break-word;
    }

    div.actionButtons {
        display: table-cell;
        vertical-align: middle;
    }
}
