@import "./colors";

html,
body {
    background-color: $light;
    width: 100%;
    height: 100%;
}

body {
    // Composant principal
    div.root {
        width: 100%;
        height: 100%;
    }
}
