@import "./colors";

html,
body {
    background-color: $light;
    width: 100%;
    height: 100%;
}

body {
    // Composant principal
    div.root {
        width: 100%;
        height: 100%;
    }
}

button:disabled {
    // Bug Bootstrap, les boutons disabled gardent un curseur de souris normal
    cursor: not-allowed;
    pointer-events: all !important;
}
